var map;
var marker;
var listenerHandle;

/**
 * Init map
 */
function initMap() {
    // Create map
    map = new google.maps.Map(document.getElementById('device_map'), {
        zoom: 2,
        center: {lat: {{ default_center.lat }}, lng: {{ default_center.lng }}},
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    {% if point is not empty %}
    var coordinates = {lat: {{ point.lat }}, lng: {{ point.lng }}};

    marker = new google.maps.Marker({
        position: coordinates,
        map: map,
        draggable: true,
        icon: getIcon()
    });
    map.panTo(marker.getPosition())
    map.setZoom(8);

    // Add listener for dragend
    google.maps.event.addListener(marker, 'dragend', function (event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        setPosition(lat, lng);
    });

    setPosition({{ point.lat }}, {{ point.lng }});

    var infoWindow = new google.maps.InfoWindow();
    google.maps.event.addListener(marker, 'click', (function (marker) {
        return function () {
            infoWindow.setContent(
                '<b>Title</b>: {{ point.title }}<br><b>IP</b>: {{ point.ip }}<br>' +
                '</br>{{ Html.submitButton('Delete marker', {
                    'class':'btn btn-danger btn-xs',
                    'onclick': 'deleteMarker()'
                }) |raw }}'
            );
            infoWindow.open(map, marker);
        }
    })(marker));

    {% else %}
    // Set listener for new marker
    listenerHandle = google.maps.event.addListener(map, 'click', function (event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        placeMarker(lat, lng);
    });

    {% endif %}
}

/**
 * Set Coordinates to  input and add marker
 *
 * @param lat
 * @param lng
 * @param deleteAction
 */
function setPosition(lat, lng, deleteAction) {
    var newCoordinates = deleteAction ? '' : lat + ',' + lng;
    $('#coordinatesInput').val(newCoordinates);
    // Pan map
    map.panTo(marker.getPosition());
}

/**
 * Set marker by coordinates
 * @param lat
 * @param lng
 */
function placeMarker(lat, lng) {
    var coordinates = {lat: lat, lng: lng};
    // if click geocode when marker set to map
    if (marker != undefined) {
        marker.setPosition(coordinates);
    } else {
        marker = new google.maps.Marker({
            position: coordinates,
            map: map,
            draggable: true,
            icon: getIcon()
        });

        // Add listener for dragend
        google.maps.event.addListener(marker, 'dragend', function (event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            setPosition(lat, lng);
        });
    }
    map.panTo(marker.getPosition())
    map.setZoom(8);
    setPosition(lat, lng);

    // Remove listener for new marker
    google.maps.event.removeListener(listenerHandle);
}

$("#coordinates_form").submit(function (event) {
    var inputData = $('#coordinatesInput').val();

   if (validateCoordinates(inputData)) {
        var serialize = {
            0: {
                'name': '{{ attribute }}',
                'value': inputData
            }
        };
        $.ajax({
            type: 'POST',
            url: window.location.href,
            data: $(this).serialize(),
            success: function (data) {
                if (data.result == 'true') {
                    show_success(data.message);
                    parent.postMessage(serialize, window.location.protocol + '//' + window.location.host);
                } else {
                    showErrors(data.message);
                }
            }
        });
    } else {
        show_error("Invalid coordinates");
    }
    event.preventDefault();
});

$("#geocode_address_form").on('submit', function (event) {
    $.ajax({
        url: window.location.href + '&geocode=true',
        type: 'POST',
        data: $(this).serialize(),
        success: function (data) {
            if (data.result == 'true') {
                show_success(data.message, 2);
                if (data.coordinates) {
                    var result = data.coordinates.split(',');
                    var lat = Number(result[0]);
                    var lng = Number(result[1]);
                    placeMarker(lat, lng);
                    setPosition(lat, lng);
                    map.setZoom(12);
                }
            } else {
                show_error(data.message);
            }
        }
    });

    event.preventDefault();
});

/**
 * Delete marker from map and delete coordinates from input
 */
function deleteMarker() {
    if (confirm('{{ Yii.t('app', 'Are you sure you want to remove this marker from map?') }}')) {
        if (marker != undefined) {
            marker.setMap(null);
            setPosition(marker.getPosition().lat(), marker.getPosition().lng(), true);
            marker = null;
        }
    }
}

/**
 * Get icon for marker
 */
function getIcon() {
    var type = '{{ device.getCoordinatesAttributeName() }}';
    var imagePath = '/google-maps/images/device_router.png';
    var height = 35;
    if (type == 'monitoring_coordinates') {
        imagePath = '/google-maps/images/device_monitoring.png'
        height = 50;
    }

    return {
        url: imagePath,
        scaledSize: new google.maps.Size(50, height), // scaled size
        origin: new google.maps.Point(0, 0), // origin
        anchor: new google.maps.Point(25, height * 1.25) // anchor
    };
}