{% block content %}
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-12">
            <form id="filter_form" class="form-inline" method="post">
                {% if showPartners == true %}
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="partnerInput">Partner: </label>
                        <select name="partner" class="form-control" id="partnerInput">
                            {% for id, name in partners %}
                                <option value="{{ id }}"{{ id == partner ? ' selected' : '' }}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="form-group form-group-sm">
                    <label for="locationInput">Location: </label>
                    <select name="location" class="form-control" id="locationInput">
                        {% for id, name in locations %}
                            <option value="{{ id }}"{{ id == location ? ' selected' : '' }}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {{ Html.submitButton('Apply', {'class':'btn btn-primary btn-sm'}) |raw }}
                </div>
                <button id="filter_form_reset_button" class="btn btn-default btn-sm">Reset</button>

                <div class="form-group form-group-sm text-right pull-right">
                    <label for="show_markers">{{ Yii.t('app', 'Show') }}: </label>
                    {{ Html.dropDownList('show_markers', null, {
                        0: 'All',
                        'customer': Yii.t('app', 'Customers'),
                        'Routers': {
                            'routers': Yii.t('app', 'Only routers'),
                            'routers_customer': Yii.t('app','Routers and customers')
                        },
                        'monitoring': Yii.t('app', 'Monitoring devices'),
                    }, {
                        'id': 'show_markers_select',
                        'class': 'form-control',
                    }) | raw }}
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="map" style="height: 80vh;"></div>
    </div>


    {% block scripts %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3&key={{ app.params['google_api_key'] }}&libraries=drawing" defer></script>
        <script defer>
            {% include 'all-map.js.twig' %}
        </script>
        <script src="js/oms.min.js?spiderfier_callback=initMap" defer></script>
    {% endblock %}

{% endblock %}