var map;
var markersList = [];
var lines = [];

var omsConfig = {
    markersWontMove: true,
    markersWontHide: true,
    keepSpiderfied: true
};
/**
 * Init map
 */
function initMap() {
    // Create map
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var oms = new OverlappingMarkerSpiderfier(map, omsConfig);

    oms.addListener('format', function(marker, status) {
        marker.setIcon(getDynamicMakerIcon(status, marker.mainIcon));
    });

    var count = {{ customersMarkers|length + routersMarkers|length + monitoringMarkers|length }};
    if (count == 0) {
        var latLng = new google.maps.LatLng({{ default_center.lat }}, {{ default_center.lng }});
        map.setCenter(latLng);
    } else {
        var bounds = new google.maps.LatLngBounds();
        var infoWindow = new google.maps.InfoWindow();

        var marker = null;
        {% if customersMarkers is not empty %}
        // Set markers
        {% for marker in customersMarkers %}
        marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ marker.lat }}, {{ marker.lng }}),
            map: map,
            mainIcon: getIcon('customers', '{{ marker.color }}'),
            icon: getIcon('customers', '{{ marker.color }}'),
            id: {{ marker.id }}
        });
        // add markers for list (used for deleteMarkers)
        markersList.push(marker);

        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'click', (function (marker) {
            return function () {
                infoWindow.setContent("<b>Login</b>: <a href='/admin/customers/view?id={{ marker.id }}' target='_blank'> {{ marker.login }} </a><br><b>Name</b>: {{ marker.name }}<br><b>Status</b>: " + getStatusLabel('{{ marker.status }}'));
                infoWindow.open(map, marker);
            }
        })(marker));
        oms.addMarker(marker);
        {% endfor %}
        {% endif %}

        {% if routersMarkers is not empty %}
        {% for router in routersMarkers %}
        marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ router.lat }}, {{ router.lng }}),
            map: map,
            mainIcon: getIcon('router'),
            icon: getIcon('router')
        });
        // add markers for list (used for deleteMarkers)
        markersList.push(marker);

        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'click', (function (marker) {
            return function () {
                infoWindow.setContent("<b>Title</b>:  <a href='/admin/networking/routers/view?id={{ router.id }}' target='_blank'>{{ router.title }}</a><br><b>IP</b>: {{ router.ip }}<br>");
                infoWindow.open(map, marker);
            }
        })(marker));
        oms.addMarker(marker);
        {% endfor %}
        {% endif %}

        {% if monitoringMarkers is not empty %}
        {% for router in monitoringMarkers %}
        marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ router.lat }}, {{ router.lng }}),
            map: map,
            mainIcon: getIcon('monitoring'),
            icon: getIcon('monitoring')
        });
        // add markers for list (used for deleteMarkers)
        markersList.push(marker);

        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'click', (function (marker) {
            return function () {
                infoWindow.setContent("<b>Title</b>: <a href='/admin/networking/monitoring/view?id={{ router.id }}' target='_blank'>{{ router.title }}</a><br><b>IP</b>: {{ router.ip }}<br>");
                infoWindow.open(map, marker);
            }
        })(marker));
        oms.addMarker(marker);
        {% endfor %}
        {% endif %}

        // if we has one marker fix zoom because fitBounds not correct set it
        if (count == 1) {
            map.setCenter(bounds.getCenter());
            map.setZoom(8);
        } else {
            map.fitBounds(bounds);
        }
    }
}

// reset filters
$("#filter_form_reset_button").click(function () {
    {% if showPartners == true %}
    $('#partnerInput').prop('selectedIndex', 0);
    {% endif %}

    $('#locationInput').prop('selectedIndex', 0);
});

$('#filter_form').on('submit', function (event) {
    $.ajax({
        url: window.location.href,
        type: 'POST',
        data: $(this).serialize(),
        success: function (data) {
            reloadMap(data);
        }
    });
    event.preventDefault();
});

/**
 * Reload map after filter
 * @param data
 */
function reloadMap(data) {
    // delete old markers and lines
    deleteMarkers();
    deleteLines();

    var oms = new OverlappingMarkerSpiderfier(map, omsConfig);

    oms.addListener('format', function(marker, status) {
        marker.setIcon(getDynamicMakerIcon(status, marker.mainIcon));
    });

    // Convert json object to array
    var customersMarkers = $.map(data.customersMarkers, function (value) {
        return [value];
    });

    var routerMarkers = $.map(data.routersMarkers, function (value) {
        return [value];
    });

    var monitoringMarkers = $.map(data.monitoringMarkers, function (value) {
        return [value];
    });
    var count = customersMarkers.length + routerMarkers.length + monitoringMarkers.length;

    if (count == 0) {
        map.setCenter(new google.maps.LatLng({{ default_center.lat }}, {{ default_center.lng }}));
        map.setZoom(2);
    } else {
        var bounds = new google.maps.LatLngBounds();
        var infoWindow = new google.maps.InfoWindow();

        // init customers marker
        if (customersMarkers.length > 0) {
            customersMarkers.forEach(function (item) {
                // Set markers
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    map: map,
                    mainIcon: getIcon('customers', item.color),
                    icon: getIcon('customers', item.color),
                    id: item.id
                });
                // add markers for list (used for deleteMarkers)
                markersList.push(marker);

                bounds.extend(marker.position);

                google.maps.event.addListener(marker, 'click', (function (marker) {
                    return function () {
                        infoWindow.setContent('<b>Login</b>: <a href="/admin/customers/view?id='+ item.id +'" target="_blank">' + item.login + '</a><br><b>Name</b>: ' + item.name + '<br><b>Status</b>: ' + getStatusLabel(item.status));
                        infoWindow.open(map, marker);
                    }
                })(marker));
                oms.addMarker(marker);
            });
        }

        // init routers marker
        if (routerMarkers.length > 0) {
            routerMarkers.forEach(function (item) {
                // Set markers
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    map: map,
                    mainIcon: getIcon('router'),
                    icon: getIcon('router')
                });
                // add markers for list (used for deleteMarkers)
                markersList.push(marker);

                bounds.extend(marker.position);

                google.maps.event.addListener(marker, 'click', (function (marker) {
                    return function () {
                        infoWindow.setContent('<b>Title</b>:  <a href="/admin/networking/routers/view?id='+ item.id +'" target="_blank">' + item.title + '</a><br><b>IP</b>: ' + item.ip);
                        infoWindow.open(map, marker);
                    }
                })(marker));
                oms.addMarker(marker);
                if (item.customer_ids != undefined) {
                    var customersIds = $.map(item.customer_ids, function (value) {
                        return [value];
                    });

                    if (customersIds.length > 0) {
                        drawPolylines(item.lat, item.lng, customersIds);
                    }
                }
            });
        }

        // init monitoring`s marker
        if (monitoringMarkers.length > 0) {
            monitoringMarkers.forEach(function (item) {
                // Set markers
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    map: map,
                    mainIcon: getIcon('monitoring'),
                    icon: getIcon('monitoring')
                });
                // add markers for list (used for deleteMarkers)
                markersList.push(marker);

                bounds.extend(marker.position);

                google.maps.event.addListener(marker, 'click', (function (marker) {
                    return function () {
                        infoWindow.setContent('<b>Title</b>: <a href="/admin/networking/monitoring/view?id='+ item.id +'" target="_blank">' + item.title + '</a><br><b>IP</b>: ' + item.ip);
                        infoWindow.open(map, marker);
                    }
                })(marker));
                oms.addMarker(marker);
            });
        }

        map.fitBounds(bounds);

        // Fix zoom, fitBonus set very large zoom for one marker
        if (count == 1) {
            map.setZoom(12)
        }
    }
}

/**
 * Get dynamic icon url for marker
 */
function getDynamicMakerIcon(status, urlIcon) {
    if (status == OverlappingMarkerSpiderfier.markerStatus.SPIDERFIED || status == OverlappingMarkerSpiderfier.markerStatus.UNSPIDERFIABLE) {
        return urlIcon;
    }
    if (status == OverlappingMarkerSpiderfier.markerStatus.SPIDERFIABLE) {
        return {url: 'images/allmarkers/marker-plus.svg', scaledSize: new google.maps.Size(23, 32)};
    }

    return null;
}

/**
 * Delete all markers from  map
 */
function deleteMarkers() {
    for (var i = 0; i < markersList.length; i++) {
        markersList[i].setMap(null);
    }
    markersList = [];
}

/**
 * Delete all lines from  map
 */
function deleteLines() {
    for (var i = 0; i < lines.length; i++) {
        lines[i].setMap(null);
    }
    lines = [];
}

/**
 * Get icon for marker
 */
function getIcon(type, color) {
    var imagePath = '';
    var height = 0;
    switch (type) {
        case 'monitoring':
            imagePath = '/google-maps/images/device_monitoring.png'
            height = 35;
            break;
        case 'router':
            imagePath = '/google-maps/images/device_router.png';
            height = 22;
            break;
        default:
            return 'http://maps.google.com/mapfiles/ms/icons/' + color + '-dot.png'
    }

    return {
        url: imagePath,
        scaledSize: new google.maps.Size(35, height), // scaled size
        origin: new google.maps.Point(0, 0), // origin
        anchor: new google.maps.Point(25, height * 1.25) // anchor
    };
}

$("#show_markers_select").change(function () {
    $.ajax({
        url: window.location.href,
        type: 'POST',
        data: $('#filter_form').serialize(),
        success: function (data) {
            reloadMap(data);
        }
    });
    event.preventDefault();
});

/**
 * Draw lines for router
 * @param lat
 * @param lng
 * @param customersIds
 */
function drawPolylines(lat, lng, customersIds) {
    customersIds.forEach(function (customer) {
        customer.forEach(function (customerCoordinates) {
            var coordinate = [
                new google.maps.LatLng(lat, lng),
                new google.maps.LatLng(customerCoordinates.lat, customerCoordinates.lng)
            ];

            var line = new google.maps.Polyline({
                path: coordinate,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            lines.push(line);
            line.setMap(map);
        })
    })
}

function getStatusLabel(status) {
    switch (status) {
        case 'New': return '<span style="padding-bottom: .15em;" class="label label-primary">New</span>';
        case 'Online': return '<span style="padding-bottom: .15em;" class="label label-success">Online</span>';
        case 'Active': return '<span style="padding-bottom: .15em;" class="label label-info">Active</span>';
        case 'Blocked': return '<span style="padding-bottom: .15em;" class="label label-danger">Blocked</span>';
        case 'Disabled': return '<span style="padding-bottom: .15em;" class="label label-default">Inactive</span>';
        default: return status;
    }
}