var map;
var listenerHandle;

/**
 * @type {Array} List of markers
 */
var markersList = [];

/**
 * Init map
 */
function initMap() {
    // Create map
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    // Set listener for new marker
    listenerHandle = google.maps.event.addListener(map, 'click', function (event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        placeMarker(lat, lng);
    });

    {% if markers is empty %}
    var latLng = new google.maps.LatLng({{ default_center.lat }}, {{ default_center.lng }});
    map.setCenter(latLng);
    {% else %}
    var bounds = new google.maps.LatLngBounds();
    var infoWindow = new google.maps.InfoWindow();

    {% for marker in markers %}
    var markerId = '{{ loop.index }}';
    // Set marker
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{ marker.lat }}, {{ marker.lng }}),
        originPosition: "{{ marker.lat ~ ',' ~ marker.lng }}",
        map: map,
        draggable: true,
        icon: 'http://maps.google.com/mapfiles/ms/icons/{{ marker.color }}-dot.png',
        id: markerId
    });
    // add markers for list (used for deleteMarkers)
    markersList[markerId] = marker;

    bounds.extend(marker.position);
    google.maps.event.addListener(marker, 'click', (function (marker) {
        return function () {
            infoWindow.setContent(
                '<b>Login</b>: {{ marker.login }}<br><b>Name</b>: {{ marker.name }}<br><b>Status</b>: {{ marker.status }}' +
                '</br>{{ Html.submitButton('Delete marker', {
                    'class':'btn btn-danger btn-xs',
                    'onclick': 'deleteMarker(' ~ loop.index ~ ')'
                }) |raw }}'
            );
            infoWindow.open(map, marker);
        }
    })(marker));

    // Add listener for dragend
    google.maps.event.addListener(marker, 'dragend', function (event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        setPosition(lat, lng, this.id);
    });
    {% endfor %}

    // if we has one marker fix zoom because fitBounds not correct set it
    {% if markers|length == 1 %}
    map.setCenter(bounds.getCenter());
    map.setZoom(8);
    {% else %}
    map.fitBounds(bounds);
    {% endif %}
    {% endif %}
}

$("#geocode_address_form").on('submit', function (event) {
    $.ajax({
        url: window.location.href + '&geocode=true',
        type: 'POST',
        data: $(this).serialize(),
        success: function (data) {
            if (data.result == 'true') {
                show_success(data.message, 2);
                if (data.coordinates) {
                    var result = data.coordinates.split(',');
                    var lat = Number(result[0]);
                    var lng = Number(result[1]);
                    placeMarker(lat, lng);
                    map.setZoom(12);
                }
            } else {
                show_error(data.message);
            }
        }
    });

    event.preventDefault();
});

$("#coordinates_form").submit(function (event) {
    var inputData = $('#coordinatesInput').val();

    inputData = prepareCoordinates(inputData);

    if (validateCoordinates(inputData)) {
        if (checkDuplicateCoordinates(inputData)) {
            show_error("Duplicate coordinates");
            return false;
        }

        var serialize = {
            0: {
                'name': 'coordinates',
                'value': inputData
            }
        };
        $.ajax({
            type: 'POST',
            url: window.location.href,
            data: $(this).serialize(),
            success: function (data) {
                if (data.result == 'true') {
                    show_success(data.message);
                    $('#coordinatesInput').val(inputData);
                    parent.postMessage(serialize, window.location.protocol + '//' + window.location.host);
                } else {
                    showErrors(data.message);
                }
            }
        });
    } else {
        show_error("Invalid coordinates");
    }
    event.preventDefault();
});

function prepareCoordinates(inputData) {
    var data = inputData.split(';');
    data.clean('');
    return data.join(';');
}

/**
 * Set Coordinates to  input and add marker
 * If more one coordinates we parse input and set new coordinates to the place of the old
 * If deleteAction is true we find coordinates in input and remove it
 *
 * @param lat
 * @param lng
 * @param id
 * @param deleteAction
 */
function setPosition(lat, lng, id, deleteAction) {
    var marker = markersList[id];
    var input = $('#coordinatesInput');

    // get all coordinates from input
    var coordinates = input.val();
    var newCoordinates = lat + ',' + lng;

    if (coordinates != '') {
        coordinatesArray = [];

        // if in input exist more one coordinates we fill out what we need
        if (coordinates.indexOf(';') > 0) {
            var coordinatesArray = coordinates.split(';');
        } else {
            // if only one coordinates in  input, set it to array
            coordinatesArray = [coordinates];
        }

        // if action delete we remove element from input
        if (deleteAction) {
            delete coordinatesArray[coordinatesArray.indexOf(marker.originPosition)];
        } else {
            if (coordinatesArray[coordinatesArray.indexOf(marker.originPosition)] == undefined) {
                coordinatesArray[id - 1] = newCoordinates;
            } else {
                coordinatesArray[coordinatesArray.indexOf(marker.originPosition)] = newCoordinates;
            }

            marker.originPosition = newCoordinates;
        }

        newCoordinates = coordinatesArray.filter(function (value) {
            val = value.trim();
            return !(val === undefined || val == null || val.length <= 0);
        }).join(';');
    }

    input.val(newCoordinates);

    if (deleteAction) {
        markersList[id] = null;
        marker.setMap(null);
    } else {
        // Pan map
        map.panTo(marker.getPosition());
    }
}

/**
 * Set marker by coordinates
 * @param lat
 * @param lng
 */
function placeMarker(lat, lng) {
    var coordinates = {lat: lat, lng: lng};
    var index = markersList.length == 0 ? 1 : markersList.length;

    var marker = new google.maps.Marker({
        position: coordinates,
        originPosition: lat + ',' + lng,
        map: map,
        draggable: true,
        icon: 'http://maps.google.com/mapfiles/ms/icons/{{ customer.getMarkerColor() }}-dot.png',
        id: index
    });

    markersList[index] = marker;

    // Add listener for dragend
    google.maps.event.addListener(marker, 'dragend', function (event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        
        setPosition(lat, lng, this.id);
    });

    // Set position to input
    setPosition(lat, lng, index);

    // add listener for marker event click, show button for delete marker
    var infoWindow = new google.maps.InfoWindow();
    marker.addListener('click', (function (marker, index) {
        return function () {
            infoWindow.setContent('<button type="submit" class="btn btn-danger btn-xs" onclick="deleteMarker(' + index + ')">{{ Yii.t('app', 'Delete marker') }}</button>');
            infoWindow.open(map, marker);
        }
    })(marker, index));

    // Remove listener for new marker
    google.maps.event.removeListener(listenerHandle);
}

/**
 * Delete marker from map and delete coordinates from input
 * @param id
 */
function deleteMarker(id) {
    if (confirm('{{ Yii.t('app', 'Are you sure you want to remove this marker from map?') }}')) {
        var marker = markersList[id];
        if (marker != undefined) {
            setPosition(marker.getPosition().lat(), marker.getPosition().lng(), id, true);
        }
    }
}

/**
 * Check Duplicate coordinates
 *
 * @param allCoordinates
 */
function checkDuplicateCoordinates(allCoordinates) {
    var coordinatesArray = allCoordinates.split(';');
    return coordinatesArray.length > $.unique(coordinatesArray).length;
}