{% block content %}

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6">
            <form id="geocode_address_form" class="form-horizontal">
                <div class="form-group text-left">
                    <label class="control-label col-sm-2 col_padding" for="addressInput">Address: </label>
                    <div class="col-sm-8 col_padding">
                        <input name="address" value="{{ customer.getAddress() }}"
                               class="form-control input-sm" id="addressInput">
                    </div>
                    <div class="col-sm-2 col_padding">
                        {{ Html.submitButton('Geocode', {'class':'btn btn-primary btn-sm'}) |raw }}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form id="coordinates_form" class="form-horizontal" method="post">
                <div class="form-group text-right">
                    <label class="control-label col-sm-3 col_padding" for="coordinatesInput">Coordinates: </label>
                    <div class="col-sm-7 col_padding">
                        <input name="coordinates" class="form-control input-sm" id="coordinatesInput"
                               value="{{ customer.getCoordinatesForInput() }}">
                    </div>
                    <div class="col-sm-1 col_padding text-left">
                        {{ Html.submitButton('Save', {'class':'btn btn-primary btn-sm'}) |raw }}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="map" style="height: 87vh"></div>
    </div>

    {% block scripts %}
        <script>
            {% include 'customer.js.twig' %}
        </script>
    {% endblock %}

    {#include google maps js api#}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ app.params['google_api_key'] }}&callback=initMap&libraries=drawing"
            async defer></script>

{% endblock %}